<!-- memory.css -->
body {
    background-color: lightgrey;
    title: memory.html;
    }
.playercolors {
    background-color: black;
    color: red;
}
.igorcolors {
    background-color: darkgrey;
    color: blue;
}
.button {
    font-size: 22px;
    }
.font2600 {
    /* @@ naam vd font-family niet juist? Abiword zegt: "HammerFat" */
    font-family: "HammerFat";
    src: url('font/HAMMRF.TTF');
    }
.buttonred {
    background-color: red;
    color: white;
    font: bold;
    width: 18%;
    cursor: pointer;
    }
