<!-- durak.css -->
body {
    background-color: coral;
    title: durak.html;
    }
.playercolors {
    background-color: black;
    color: red;
}
.igorcolors {
    background-color: darkgrey;
    color: blue;
}
.button {
    font-size: 22px;
    }
.buttongreen {
    background-color: darkgreen;
    color: lightgreen;
    width: 18%;
    cursor: pointer;
    }
.buttonblue {
    background-color: darkblue;
    color: lightblue;
    width: 18%;
    cursor: pointer;
    }
.buttonred {
    background-color: red;
    color: white;
    font: bold;
    width: 18%;
    cursor: pointer;
    }
