.buttonblue {
    color: darkblue;
    background-color: yellow;
    }

.buttonred {
    color: white;
    background-color: red;
    }

.bluegrey {
    color: blue;
    background-color: lightgrey;
    }

.whitegreen {
    color: white;
    background-color: darkgreen;
    }

.snickers {
    color: #f4bd4b;
    background-color: #461808;
   }


.p2 {
   color: chocobrown;
   font-size: 22pt;
}
